body {
  background-color: var(--background);
}

:root {
  --background: #181818;
}

h1 {
  color: white;
}

input {
  width: 350px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

